<div class="container">
  <h1>To Do List - Angular</h1>
  <hr />
  <form class="todo-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="input-field col s9">
        <input
          type="text"
          name="title"
          id="title"
          ngModel
          maxlength="40"
          required
        />
        <label for="title">O que vamos fazer?</label>
      </div>

      <div class="input-field col s3">
        <button type="submit" class="btn waves-effect waves-light blue">
          <i class="material-icons inline-icon">add</i>Add
        </button>
      </div>
    </div>
  </form>
  <ul class="todo-list">
    <ng-container *ngFor="let todo of todos">
      <li *ngIf="!todo.isComplete">
        <div>
          <div *ngIf="editingId !== todo.id; else editTodo">
            {{ todo.title }}
          </div>
          <ng-template #editTodo>
            <input
              type="text"
              [(ngModel)]="editingTitle"
              maxlength="40"
              required
            />
          </ng-template>
          <div>
            <button
              *ngIf="editingId !== todo.id"
              (click)="startEdit(todo)"
              class="btn-floating waves-effect waves-light blue"
            >
              <i class="material-icons">edit</i>
            </button>

            <button
              *ngIf="editingId === todo.id"
              (click)="saveEdit(todo)"
              class="btn-floating waves-effect waves-light blue"
            >
              <i class="material-icons">save</i>
            </button>

            <button
              *ngIf="editingId === todo.id"
              (click)="cancelEdit()"
              class="btn-floating waves-effect waves-light orange"
            >
              <i class="material-icons">close</i>
            </button>

            <button
              (click)="onComplete(todo.id)"
              class="btn-floating waves-effect waves-light green"
            >
              <i class="material-icons">check</i>
            </button>

            <button
              (click)="onDelete(todo.id)"
              class="btn-floating waves-effect waves-light red"
            >
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>

  <div *ngIf="!todos?.length" class="msg">
    Parece que você já concluiu tudo ou não tem mais o que fazer...
  </div>

  <hr />
  <br />

  <h1 id="completed-tasks">Tarefas Concluídas</h1>
  <hr />
  <ul class="todo-list" *ngFor="let todo of todos">
    <li *ngIf="this.todo.isComplete">
      <div>
        <div>{{ this.todo.title }}</div>
        <div>
          <button
            (click)="onDelete(this.todo.id)"
            class="btn-floating waves-effect waves-light red"
          >
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
